<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class = "flex justify-center p-4 m-4">
            <p class = "text-5xl font-bold text-gray-700">Not Found - 404 Error</p>
        </div>
    </header>
    <body>
        <div class = "flex justify-center p-4 m-4">
            <i class="fas fa-exclamation-triangle fa-10x text-gray-700"></i>
        </div>
        <div class = 'flex justify-center p-4 m-4'>
            <p class = 'text-4xl font-semibold text-gray-700'>No matches found for the url entered</p>
        </div>
    </body>
</body>
<body>
    
</body>
</html>