<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContentCentral</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">



</head>
<body>
    <header>
        <div class="p-6">
            <div class="divide-y-2 divide-blue-500">
                <div class="my-4 px-4">
                    <div class="grid grid-cols-15 divide-x-4 divide-blue-500">
                        <div></div>
        
                        <div class="text-4xl text-gray-500 align-baseline"><span class="m-1 font-bold">Content</span><span
                                class="font-bold bg-gray-500 text-3xl text-white rounded-md p-1">CENTRAL</span></div>
                    </div>
                </div>
        
            </div>
        
        </div>
    </header>
    <main>
        <div class = "p-6">
            <div class = "grid grid-cols-3 gap-4">
                <div class = "shadow-lg p-4 m-2">
                    <a href = "/googleNews" class = "text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">Google News</p>
                        <p class = "text-md font-semibold my-2">Google News is a news aggregator service developed by Google. Started in 2002, by 2013 it had over 50,000 news sources worldwide. In total, Google News aggregates content from over 20,000 publishers.</p>

                    </a> 
                </div>
            
                <div class="shadow-lg p-4 m-2">
                    <a href="/indianExpress" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">The Indian Express</p>
                        <p class="text-md font-semibold my-2">Indian Express Limited is an Indian news media publishing company. It publishes
                            several widely circulated dailies,
                            including The Indian Express and The Financial Express in English and the Jansatta in Hindi.
                            The company's newspapers are published and circulated in all major cities of India.</p>
                    </a>
                    </div>
            
                <div class="shadow-lg p-4 m-2">
                    <a href="/indiaToday" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">India Today</p>
                        <p class="text-md font-semibold my-2">India Today is a weekly Indian English-language news magazine published by Living
                            Media India Limited. It is the
                            most widely circulated magazine in India, with a readership of close to 8 million, having been established in 1975.
                        </p>

                    </a>
                    
                </div>
            
                <div class="shadow-lg p-4 m-2">
                    <a href="/forbes" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">Forbes</p>
                        <p class="text-md font-semibold my-2">Forbes is an American business magazine owned by Integrated Whale Media
                            Investments and the Forbes family.
                            Published eight times a year, it features original articles on finance, industry, investing, and marketing topics.
                            Forbes also reports on related subjects such as technology, communications, science, politics, and law.</p>

                    </a>
                    
                </div>
            
                <div class="shadow-lg p-4 m-2">
                    <a href="/bbcNews" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">BBC News</p>
                        <p class="text-md font-semibold my-2">BBC News is an operational business division of the British Broadcasting
                            Corporation (BBC) responsible for the
                            gathering and broadcasting of news and current affairs. The department is the world's largest broadcast news
                            organisation and generates about 120 hours of radio and television output each day, as well as online news coverage.
                        </p>

                    </a>
                    
                </div>
            
                <div class="shadow-lg p-4 m-2">
                    <a href="/nyTimes" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">The New York Times</p>
                        <p class="text-md font-semibold my-2">The New York Times (NYT or NY Times) is an American daily newspaper based in New
                            York City with a worldwide
                            readership. Founded in 1851, the Times has since won 130 Pulitzer Prizes (the most of any newspaper), and has
                            long been regarded within the industry as a national "newspaper of record".</p>

                    </a>
                    
                </div>
            
                <div class="shadow-lg p-4 m-2">
                    <a href="/cnbc" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">CNBC</p>
                        <p class="text-md font-semibold my-2">CNBC is an American pay television business news channel owned by NBCUniversal
                            News Group, a division of NBCUniversal,
                            with both being ultimately owned by Comcast. Headquartered in Englewood Cliffs, New Jersey, the network primarily
                            carries business day coverage of U.S. and international financial markets.</p>

                    </a>
                   
                </div>
                <div class="shadow-lg p-4 m-2">
                    <a href="/reddit" class="text-gray-700 hover:text-blue-500 focus:text-blue-500">
                        <p class="text-3xl font-bold">Reddit</p>
                        <p class="text-md font-semibold my-2">Reddit is a social news aggregation, web content rating, and discussion website,
                        recently including livestream content through Reddit Public Access Network.</p>
                
                    </a>
                
                </div>

            </div>
            
            
        </div>

    </main>
    <footer>

    </footer>
</body>
</html>